@keyframes tv-on {
  from {
    background: #000;
  }
  to {
    background: rgba(18, 16, 16, 0.5);
  }
}
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193px 0 1px rgba(0, 30, 255, 0.5), -0.4389924193px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974011px 0 1px rgba(0, 30, 255, 0.5), -2.7928974011px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.0295627584px 0 1px rgba(0, 30, 255, 0.5), -0.0295627584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.4021853855px 0 1px rgba(0, 30, 255, 0.5), -0.4021853855px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.47940379px 0 1px rgba(0, 30, 255, 0.5), -3.47940379px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401px 0 1px rgba(0, 30, 255, 0.5), -1.6125630401px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085px 0 1px rgba(0, 30, 255, 0.5), -0.7015590085px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.8969140477px 0 1px rgba(0, 30, 255, 0.5), -3.8969140477px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.8709056148px 0 1px rgba(0, 30, 255, 0.5), -3.8709056148px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.2310569634px 0 1px rgba(0, 30, 255, 0.5), -2.2310569634px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.0808429042px 0 1px rgba(0, 30, 255, 0.5), -0.0808429042px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067px 0 1px rgba(0, 30, 255, 0.5), -2.3758461067px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.2021930511px 0 1px rgba(0, 30, 255, 0.5), -2.2021930511px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780615px 0 1px rgba(0, 30, 255, 0.5), -2.8638780615px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.4887402516px 0 1px rgba(0, 30, 255, 0.5), -0.4887402516px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491306px 0 1px rgba(0, 30, 255, 0.5), -1.8948491306px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308px 0 1px rgba(0, 30, 255, 0.5), -0.0833037308px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.0976982726px 0 1px rgba(0, 30, 255, 0.5), -0.0976982726px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.4433397615px 0 1px rgba(0, 30, 255, 0.5), -3.4433397615px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838853px 0 1px rgba(0, 30, 255, 0.5), -2.1841838853px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764474px 0 1px rgba(0, 30, 255, 0.5), -2.6208764474px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}
@keyframes rain {
  0% {
    transform: translateY(0vh) rotate(180deg);
  }
  100% {
    transform: translateY(100vh) rotate(-180deg);
  }
}
@keyframes rotate-left-drop {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@keyframes rotate-right-drop {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes desappear-set {
  0% {
    scale: 1;
  }
  90% {
    scale: 3;
  }
  100% {
    display: none;
  }
}
@keyframes appear-media {
  0% {
    display: none;
  }
  100% {
    display: flex;
  }
}
@keyframes body-appear-media {
  100% {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #b19d89;
  overflow: auto;
}

body:has(.appear), .appear {
  animation: body-appear-media 1s ease-in forwards;
}

.set, .desappear {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.desappear {
  animation: desappear-set 750ms ease-in forwards;
}

.tv {
  --width-tv: 16rem;
  --height-tv: 12rem;
  position: relative;
  width: var(--width-tv);
  min-height: var(--height-tv);
  background: #fff;
  border-radius: 0.5rem;
  border: 0.5rem #000 solid;
  animation: big-tv 1s ease-in forwards;
}

.tv .antenna, .tv .antenna:last-child {
  position: absolute;
  width: calc(var(--width-tv) / 16);
  height: calc(var(--height-tv));
  background: #000;
  border-radius: 1rem 1rem 0rem 0rem;
  top: -50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, 0%) rotate(-25deg);
}

.tv .antenna:last-child {
  transform: rotate(25deg);
}

.tv .screen {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  cursor: pointer;
  z-index: 5;
  animation: tv-on 5s ease-out forwards, textShadow 1.6s infinite;
}

.screen::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 6;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

.media {
  display: none;
}

.media, .appear {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.media img, .appear img {
  width: 100%;
  object-fit: cover;
}

.rain-container {
  position: absolute;
  top: -1.25rem;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -10;
}

.rain-drop {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  background-repeat: no-repeat;
  background-size: 1.25rem 1.25rem;
  transform-origin: top center;
}

.rain-drop.left {
  animation: rotate-left-drop 1.5s linear infinite, rain 3s linear infinite;
}

.rain-drop.right {
  animation: rotate-right-drop 1.5s linear infinite, rain 3s linear infinite;
}

/*# sourceMappingURL=style.css.map */
